/* Mobile wheel START */
.mobile-animation {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0;
    user-select: none;
    -webkit-user-select: none;
}

.mobile-animation .wheel-container {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: visible;
    user-select: none;
    margin-right: -265px;
    flex-shrink: 0;
}

.mobile-animation canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    pointer-events: none;
    user-select: none;
    background: transparent;
}

.mobile-animation .sector-info {
    position: absolute;
    display: flex;
    align-items: center;
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    flex-direction: row-reverse;
    will-change: opacity, left, top;
    opacity: 0;
}

.mobile-animation .sector-icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    user-select: none;
}

.mobile-animation .sector-text {
    color: #b5d9a7;
    margin-right: 100px;
    font-size: 20px;
    max-width: 150px;
    font-weight: 400;
    text-align: right;
    user-select: none;
    font-family: "Overused Grotesk", sans-serif;
}

/* Desktop wheel START */
.wheel-container {
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 auto;
}

.sectors-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sectors-info.visible {
    opacity: 1;
}

.sectors-info.hidden {
    opacity: 0;
    pointer-events: none;
}

.sector-info {
    position: absolute;
    text-align: center;

    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

.sector-info.active {
    opacity: 1;
    z-index: 20;
    pointer-events: auto;
}

.sector-info.inactive {
    opacity: 0;
    z-index: 10;
}

.sector-icon {
    width: 40px;
    height: 40px;
    margin: 0 auto 5px;
    display: block;
}

.sector-text {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: #333;
}

@media (max-width: 425px) {
    .wheel-container {
        transform: scale(0.9);
    }

    .sector-info {
        width: 100px;
    }

    .sector-icon {
        width: 35px;
        height: 35px;
    }

    .sector-text {
        font-size: 12px;
    }

    .sector-info[data-index="0"] {
        top: 200px;
        right: 350px;
    }

    .sector-info[data-index="1"] {
        top: 200px;
        right: 350px;
    }

    .sector-info[data-index="2"] {
        top: 200px;
        right: 350px;
    }

    .sector-info[data-index="3"] {
        top: 200px;
        right: 350px;
    }

    .sector-info[data-index="4"] {
        top: 200px;
        right: 350px;
    }
}

@media (max-width: 375px) {
    .wheel-container {
        transform: scale(0.8);
    }

    .sector-info {
        width: 90px;
    }

    .sector-icon {
        width: 30px;
        height: 30px;
    }

    .sector-text {
        font-size: 11px;
    }

    .sector-info[data-index="0"] {
        top: 190px !important;
        left: 15px !important;
    }

    .sector-info[data-index="1"] {
        top: 190px !important;
        left: 15px !important;
    }

    .sector-info[data-index="2"] {
        top: 190px !important;
        left: 15px !important;
    }

    .sector-info[data-index="3"] {
        top: 190px !important;
        left: 15px !important;
    }

    .sector-info[data-index="4"] {
        top: 190px !important;
        left: 15px !important;
    }
}

@media (max-width: 325px) {
    .wheel-container {
        transform: scale(0.7);
    }

    .sector-info {
        width: 80px;
    }

    .sector-text {
        font-size: 10px;
    }

    .sector-info[data-index="0"] {
        top: 190px !important;
        right: 30px !important;
    }

    .sector-info[data-index="1"] {
        top: 190px !important;
        right: 30px !important;
    }

    .sector-info[data-index="2"] {
        top: 190px !important;
        right: 30px !important;
    }

    .sector-info[data-index="3"] {
        top: 190px !important;
        right: 30px !important;
    }

    .sector-info[data-index="4"] {
        top: 190px !important;
        right: 30px !important;
    }

}