@font-face {
    font-family: 'OverusedGrotesk';
    src: url('/images/GetWab/overused_grotesk/fonts/variable/OverusedGrotesk-VF.woff2') format('woff2'),
         url('/images/GetWab/overused_grotesk/fonts/variable/OverusedGrotesk-VF.woff') format('woff');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}