name: Deploy PHP Project

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --- Настраиваем SSH ключ ---
      - name: Setup SSH Key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEV_SSH_PRIVATE_KEY }}" > ~/.ssh/id_hetzner
          chmod 600 ~/.ssh/id_hetzner
          ssh-keyscan -H "${{ secrets.DEV_SERVER_IP }}" >> ~/.ssh/known_hosts


      # --- Копируем файлы через SCP ---
      - name: Sync Files to Hetzner
        run: |
          rsync -avz --delete -e "ssh -i ~/.ssh/id_hetzner -o StrictHostKeyChecking=no" \
            ./ root@${{ secrets.DEV_SERVER_IP }}:/home/userwww/web/dev.getwab.com/public_html

      # --- Финальная настройка на сервере ---
      - name: Final Setup on Hetzner
        run: |
          ssh -i ~/.ssh/id_hetzner root@${{ secrets.DEV_SERVER_IP }} "
            sudo rm -rf /home/userwww/web/dev.getwab.com/public_html/.git
            sudo rm -rf /home/userwww/web/dev.getwab.com/public_html/.github
            sudo rm -rf /home/userwww/web/dev.getwab.com/public_html/.DS_Store
            sudo chown -R www-data:www-data /home/userwww/web/dev.getwab.com/public_html
            sudo chmod -R 755 /home/userwww/web/dev.getwab.com/public_html
            cd /home/userwww/web/dev.getwab.com/public_html
            php artisan config:clear
            php artisan config:cache
            php artisan route:clear
            php artisan route:cache
            php artisan view:clear
            php artisan view:cache
          "
